<section class="htc__product__area shop__page ptb--130 bg__white">
    <div class="container">
        <div class="htc__product__container">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tab-list">
                                <!-- Nav tabs -->
                                <ul class="tab-style nav product-tab-list-btn" role="tablist">
                                    <li>
                                        <a class="active" href="/my-pham" data-toggle="tab">
                                            <div class="tab-menu-text">
                                                <h4>Mỹ phẩm </h4>
                                            </div>
                                        </a>
                                    </li>                                  
                                </ul>
                                <div class="all-product-btn">
                                    <a href="/my-pham">Xem tất cả</a>
                                </div>
                    </div>
                    
                </div>  
            </div>            
            <div class="product__list another-product-style">
                <div class="row" id="showProduct">
                   <!-- Start Single Product -->
                    {{#each productMypham}}                    
                    <div  class="col-lg-3 single__pro col-xl-3 col-md-4 col-12 cat--3 col-sm-6 productItem"  data-id="{{sum @index 1}}">
                        <div class="product foo"> 
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/productDetails/{{this.id}}">
                                        <img height="260px" src="/azshopweb/images/product/{{this.imgName}}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal-{{this.id}}" title="Quick View" class="quick-view modal-view detail-link" href="/productDetails/{{this.id}}"><span class="ti-plus"></span></a></li>
                                        <li><a title="Add TO Cart" href="/cart/{{this.id}}"><span class="ti-shopping-cart"></span></a></li>
                                        <li><a title="Wishlist" href="/wishlist/{{this.id}}"><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="product__details" style="min-height: 92px;">
                                <h2><a href="/productDetails/{{this.id}}">{{this.title}}</a></h2>
                                <ul class="product__price">
                                    <li class="old__price">VNĐ {{formatMoney this.price}}</li>
                                    <li class="new__price">VNĐ {{formatMoney this.salePrice}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</section>

<section class="htc__product__area shop__page  bg__white">
    <div class="container">
        <div class="htc__product__container">
            <!-- Start Product MEnu -->
            <div class="row">
                <div class="col-md-12">
                    <div class="product-tab-list">
                                <!-- Nav tabs -->
                                <ul class="tab-style nav product-tab-list-btn" role="tablist">
                                    <li>
                                        <a class="active" href="/ho-tro-suc-khoe" data-toggle="tab">
                                            <div class="tab-menu-text">
                                                <h4>Hỗ Trợ Sức Khỏe</h4>
                                            </div>
                                        </a>
                                    </li>                                  
                                </ul>
                                <div class="all-product-btn">
                                    <a href="/ho-tro-suc-khoe">Xem tất cả</a>
                                </div>
                    </div>
                    
                </div>  
            </div>            
            <div class="product__list another-product-style">
                <div class="row" id="showProduct">
                   <!-- Start Single Product -->
                    {{#each productSuckhoe}}                    
                    <div  class="col-lg-3 single__pro col-xl-3 col-md-4 col-12 cat--3 col-sm-6 productItem"  data-id="{{sum @index 1}}">
                        <div class="product foo"> 
                            <div class="product__inner">
                                <div class="pro__thumb">
                                    <a href="/productDetails/{{this.id}}">
                                        <img height="260px" src="/azshopweb/images/product/{{this.imgName}}" alt="product images">
                                    </a>
                                </div>
                                <div class="product__hover__info">
                                    <ul class="product__action">
                                        <li><a data-toggle="modal" data-target="#productModal-{{this.id}}" title="Quick View" class="quick-view modal-view detail-link" href="/productDetails/{{this.id}}"><span class="ti-plus"></span></a></li>
                                        <li><a title="Add TO Cart" href="/cart/{{this.id}}"><span class="ti-shopping-cart"></span></a></li>
                                        <li><a title="Wishlist" href="/wishlist/{{this.id}}"><span class="ti-heart"></span></a></li>
                                    </ul>
                                </div> 
                            </div>
                            <div class="product__details" style="min-height: 92px;">
                                <h2><a href="/productDetails/{{this.id}}">{{this.title}}</a></h2>
                                <ul class="product__price">
                                    <li class="old__price">VNĐ {{formatMoney this.price}}</li>
                                    <li class="new__price">VNĐ {{formatMoney this.salePrice}}</li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    {{/each}}
                    <!-- End Single Product -->
                </div>
            </div>
        </div>
    </div>
</section>

<script>
    document.addEventListener('DOMContentLoaded',function(){        
        //let id = $('div[data-id]');
      

        
    })
</script>
